* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Roboto', sans-serif;;
}

.concept-page, .decoration-page, .main-page, .blog-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 10%;
    background-color: #9fbdd4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.logo-nav {
    height: 80%;
}

ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-size: bold;
}

ul a {
    text-decoration: none;
    color: black;
}

.main-page li:hover {
    text-decoration: underline #f7da6f;
}

header {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./diseno-decoracion-restaurante.webp);
    background-size: cover;
    display: flex;
}

.welcome {
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.welcome h2 {
    font-style: italic;
    color: #f7da6f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome h3 {
    font-weight: bold;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.concept-page, .decoration-page {
    background-image: url(./hojas-fondo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.concept-page__box {
    background-color: black;
    width:60%;
    height: 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.concept-page__box h2 {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.concept-text {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

.decoration-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./hojas-fondo.jpg);
}

.decoration-page__box {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decoration-page__images {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.decoration-page__images img:hover {
    transform: scale(1.5);
}

.decoration-page img {
    margin: 5%;
}

.menu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-page__header, .booking-page__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

.menu-page__header ul {
    margin-top: 10px;
}

.menu-page__menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu-page__background {
    width: 80%;
    background-image: url(./hojas-fondo.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
}

.menu-page__box {
    background-color: white;
    width: 40%;
    padding: 3%;
}

.menu-page__box .menu-title, .menu-page__box .menu-item {
    text-align: left;
}

.menu-page__box .prices {
    text-align: right;
}

.menu-page__box .title {
    font-weight: bold;
}

.menu-page__box table {
    width: 100%;
    margin-bottom: 10px;
}

.menu-page button, .blog-page__button-area button {
    background-color: #f7da6f;
    border-radius: 0%;
    border: 1px solid  #f7da6f;
    font-weight: bold;
    color: white;
    padding: 1%;
    width: 300px;
    margin: 20px 0;
    transition-duration: 0.5s;
}

.menu-page button:hover, .blog-page__button-area button:hover {
    transition-duration: 0.5s;
    box-shadow: 0 0 10px black;
}

.booking-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./diseno-decoracion-restaurante.webp);
    background-size: cover;
    color: white;
}

.booking-page__header {
    height: 20%;
    width: 100%;
}

.booking-page__title {
    font-weight: bold;
}

.booking-page__header::before, .booking-page__header::after {
    border: 1px solid white;
}

.booking-page__form-n-info {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.booking-page__form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.direction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.booking-page__people_num, .booking-page__time {
    width: 45%;
}

.booking-page__people_num select, .booking-page__time select {
    width: 100%;
}

.booking-page__table {
    margin-bottom: 20px;
}

.booking-page__table select {
    width: 100%;
}

.booking-page__form button {
    margin-bottom: 20px;
    font-weight: bold;
    padding: 1%
}

.booking-page__not-available button {
    width: 100%;
    margin: 5px 0;
}

.booking-page__info, .booking-page__form {
    width: 40%;
}

.booking-page__mozzabar, .booking-page__adress {
    padding: 5%;
}

.booking-page__mozzabar h4 {
    font-weight: bold;
    font-size: 40px;
    color: #f7da6f;
}

.booking-page__mozzabar p {
    font-weight: bold;
    font-size: 30px;
}

.line {
    border: 1px solid #f7da6f;
    width: 20%;
}

.blog-page__header, .blog-page__button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.blog-page__content {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    align-content: space-around;
    justify-content: space-around;
}

.blog-page__box {
    min-height: 80%;
    width: 25%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.5s;
}

.blog-page__box:hover {
    box-shadow: 0px 0px 10px black;
    transition: 0.5s;
}

.box-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./alex-haney-CAhjZmVk5H4-unsplash.jpg);
    background-size: cover;
}

.box-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./ali-inay-y3aP9oo9Pjc-unsplash.jpg);
    background-size: cover;
}

.box-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./jason-leung-poI7DelFiVA-unsplash.jpg);
    background-size: cover;
}

.mozzabar-box {
    height: 20%;
    width: fit-content;
}

.mozzabar-box p {
    border: 1px solid white;
    font-size: 10px;
}

.blog-page__box-text {
    height: 80%;
    width: 100%; 
}

.blog-date, .blog-description {
    font-size: 10px;
}

.blog-page__box-text h4 {
    font-size: 25px;
}





footer {
    height: 40hv;
    width: 100wv;
    background-color: #dcdcde;
    color: black;
    display: block;
    padding: 1%;
}

.interest-info {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

.interest-info__box {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.reserved-n-rrss {
    height: 10%;
    width: 100%;
}